{
  "TOKEN": "",
  "PREFIX": "",
  "OWNERID": "846029199100870706",
  "SPOTIFYID": "",
  "SPOTIFYSECRET": "",
  "MONGO_URI": "mongodb://newuser:newuser@cluster0-shard-00-00.uf6th.mongodb.net:27017,cluster0-shard-00-01.uf6th.mongodb.net:27017,cluster0-shard-00-02.uf6th.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-6cm745-shard-0&authSource=admin&retryWrites=true&w=majority",
  "COlOR": "#ffff00",
  "LOGS": "875603470881804318",
  "SUPPORT": "https://discord.gg/rsK9BzNGjf",
  "INVITE": "https://discord.com/api/oauth2/authorize?client_id=976068071007600680&permissions=8&scope=bot",
  "NODE_URL": "188.34.138.230:27522",
  "NODE_NAME": "188.34.138.230",
  "NODE_AUTH": "27522",
  "NODE_SECURE": "false",
  "BG": "https://media.discordapp.net/attachments/877417203195076618/976078285580697630/12535741_1.jpg"
}
